[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dynprog"]
	path = dynprog
	url = https://github.com/mailund/dynprog
[submodule "foolbox"]
	path = foolbox
	url = https://github.com/mailund/foolbox
